
SUPABASE_URL=https://ayndqzvmyydpcxdrivcl.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_oOguFVchdZjMpCqOteiXVQ_dr6fqIAs
SUPABASE_SECRET_KEY=tu_secret_key
SUPABASE_JWKS_URL=https://ayndqzvmyydpcxdrivcl.supabase.co/auth/v1/.well-known/jwks.json
REACT_APP_SUPABASE_URL=https://ayndqzvmyydpcxdrivcl.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sb_publishable_oOguFVchdZjMpCqOteiXVQ_dr6fqIAs
ADMIN_USER=FloridaLuisiana
ADMIN_PASSWORD=Comuna2026*
API_PORT=3000
